body{
  background-color: lightgray;
}
#startups{
  color: #FF0000;
  font-family: helvetica;
  font-weight: bold;
}
#info{
color: #FF0000;
font-family: helvetica;
font-weight: bold;
}

#events{
color: #FF0000;
font-family: helvetica;
font-weight: bold;
text-align: center;
}

li .events{
  text-align: center;
}
