body{
  background-color: lightgray;
}
#startups{
  color: #FF0000;
  font-family: helvetica;
  font-weight: bold;
}
#info{
color: #FF0000;
font-family: helvetica;
font-weight: bold;
}

#events{
color: #FF0000;
font-family: helvetica;
font-weight: bold;
text-align: center;
}

 .text:after{
   /*mg src="images/zapp.png"*/
   background-color: #3194F7;
   text-align: justify;
   font-family: helvetica;
 }
