body{
  background-color: lightgray;
}
#startups{
  color: #FF0000;
  font-family: helvetica;
  font-weight: bold;
}
#info{
color: #FF0000;
font-family: helvetica;
font-weight: bold;
}

#events{
color: #FF0000;
font-family: helvetica;
font-weight: bold;
text-align: center;
}

.navbar-default .navbar-nav>li>a{
  background-color: #5E5F60;
  font-family: helvetica;
  font-weight: bold
  color: #FFF;
}

#description{
  background-color: #FFF;
}
